@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApplication.Shared
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<div id="messagesList">
    @foreach(var message in oldMessages)
    {
        <MessageComponent MessageData="@message" CurrentUserID="@userID"></MessageComponent>
    }
    <hr>
    @foreach (var message in newMessages)
    {
        <MessageComponent MessageData="@message" CurrentUserID="@userID"></MessageComponent>
    }
</div>

<div id="footer">
    <button @onclick="EmptyText">X</button>
    <input @bind="text" placeholder="Enter a message"/>
    <button @onclick="DoSend">Send</button>
</div>

@code {
    private HubConnection? hubConnection;
    private List<Message> oldMessages = new List<Message>();
	private DateTime? oldMessagesLoaded;
    private List<Message> newMessages = new List<Message>();
    private string? userID;
    private string? text;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(new Uri("https://localhost:7132/chatHub"))
            .Build();

        hubConnection.Closed += async (error) =>
        {
            // Reconnects to the hub on disconnect
            await hubConnection.StartAsync();

            var loginKey = localStorage.GetItem<string>("loginKey");
                var joinResult = await hubConnection.InvokeAsync<Tuple<string, List<Message>>?>("JoinChat", loginKey);
        };

        hubConnection.On<Message>("ReceiveMessage", (message) =>
        {
			if (this.oldMessagesLoaded == null || this.oldMessagesLoaded < message.Timestamp)
			{
				// Old messages have not loaded yet, so add this to the list in case it is not in history, or
				// Message was received by the server after old messages were loaded, so it has to be new
				this.newMessages.Add(message);
			}
			if (this.oldMessagesLoaded != null) // Don't show that messages have been received when we don't have history yet
			{
				StateHasChanged();
			}
        });

		hubConnection.On("InvalidKey", () =>
        {
            NavigationManager.NavigateTo("/register");
        });

        await hubConnection.StartAsync();

        var loginKey = localStorage.GetItem<string>("loginKey");
        if (loginKey != null)
        {
			var joinResult = await hubConnection.InvokeAsync<Tuple<string, List<Message>>?>("JoinChat", loginKey);
			if (joinResult != null)
			{	
                this.userID = joinResult.Item1;
				this.oldMessages = joinResult.Item2;
				this.newMessages = this.newMessages.FindAll(m => !this.oldMessages.Exists(m2 => m2.Id == m.Id));
				this.oldMessagesLoaded = DateTime.Now;
				StateHasChanged();
			}
            else
            {
                NavigationManager.NavigateTo("/register");
            }
        }
		else
		{
			NavigationManager.NavigateTo("/register");
		}
    }

    private async Task DoSend()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", this.text);
        }
    }

    private void EmptyText()
    {
        this.text = "";
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}