@page "/register"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@implements IAsyncDisposable

<PageTitle>Registration</PageTitle>

<div class="form-group">
    <label>
        Name:
        <input @bind="name" />
    </label>
</div>
<div class="form-group">
    <label>
        Surname:
        <input @bind="surname" />
    </label>
</div>
<div class="form-group">
    <label>
        Username:
        <input @bind="username" />
    </label>
</div>
<button @onclick="DoRegister" disabled="@(!IsConnected)">Start Chat</button>

@code {
    private HubConnection? hubConnection;
    private string? name;
    private string? surname;
    private string? username;

    protected override async Task OnInitializedAsync()
    {
		if (localStorage.ContainKey("userID"))
		{
			NavigationManager.NavigateTo("/");
		}
		else
		{
			hubConnection = new HubConnectionBuilder()
				.WithUrl(new Uri("https://localhost:7132/chatHub"))
				.Build();

			await hubConnection.StartAsync();
		}
    }

    private async Task DoRegister()
    {
        if (hubConnection is not null)
        {
            var userID = await hubConnection.InvokeAsync<string>("Register", name, surname, username);
			localStorage.SetItem("userID", userID);
			NavigationManager.NavigateTo("/chat");
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}