#messageBlock {
	display: block;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.system {
	color: white;
	background-color: black;
}

.user {
	color: black;
	/* Background color will be set dynamically */
}

#messageFooter {
	text-align: right;
}