#messageBlock {
	display: block;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.left {
	margin-right: 10%;
}

.right {
	margin-left: 10%;
}

.system {
	color: white;
	background-color: black;
}

.user {
	color: black;
	/* Background color will be set dynamically */
}

#messageContent {

}

#messageFooter {
	text-align: right;
}