@using ChatApplication.Shared﻿

@if (MessageData != null)
{
	<div id="messageBlock" class="@SideClass @SenderClass" style="@BackgroundColor">
		<div id="messageContent">
			@MessageData.Text
		</div>
		<div id="messageFooter">
			@SenderName    @MessageData.Timestamp.ToString("HH:mm")
		</div>
	</div>
}

@code {
    [Parameter] public Message? MessageData { get; set; }
	[Parameter] public string? CurrentUserID { get; set; }

    private string SideClass => (this.MessageData?.Sender?.Id == this.CurrentUserID) ? "right" : "left";
	private string SenderClass => (this.MessageData?.Sender != null) ? "user" : "system";
	private string BackgroundColor => (this.MessageData?.Sender != null) ? "background-color: rgb"+this.MessageData.Sender.Color.ToString() : "";
	private string SenderName => this.MessageData?.Sender?.Username ?? "";
}